{{#with approver}}
<h2>Leave request has been CANCELED by <strong><a href="mailto:{{ email }}">{{ firstName }} {{ lastName }}</a></strong></h2>
{{/with}}

{{#with employee}}
<h3>Employee: <strong><a href="mailto:{{ email }}">{{ firstName }} {{ lastName }}</a></strong></h3>
{{/with}}

<p>
    Start Date: <strong>{{ start }}</strong>
</p>

<p>
    End Date: <strong>{{ end }}</strong>
</p>

<p>
    Number of days: <strong>{{ workDays }}</strong>
</p>

<p>
    Status <strong>{{ status }}</strong>
</p>

<p>
    Created at: <strong>{{ createdAt }}</strong>
</p>

<p>
    Project: <strong>{{ projectName }}</strong>
</p>
