<h3>Here are the details of your {{ leaveType }} request:</h3>

<p>
    Start Date: <strong>{{ start }}</strong>
</p>

<p>
    End Date: <strong>{{ end }}</strong>
</p>

<p>
    Number of days: <strong>{{ workDays }}</strong>
</p>

<p>
    Status <strong>{{ status }}</strong>
</p>

<p>
    Created at: <strong>{{ createdAt }}</strong>
</p>

<p>
    Project: <strong>{{ projectName }}</strong>
</p>

<P>
    Approvers:
    {{#each approvers }}
    <strong><a href="mailto:{{ email }}">{{ firstName }} {{ lastName }}</a></strong>
    {{/each}}
</P>
